{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}VoiceTyper{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=BBH+Bogle&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header class="navbar">
        <div class="brand">
            <span class="gradient-text" style="font-family: 'BBH Bogle', sans-serif; font-size: 30px;">Voice.Typer</span>
        </div>
        <nav class="nav-links">
            {% block nav_links %}{% endblock %}
        </nav>
    </header>

    <main class="main-content">
        {% block content %}{% endblock %}
    </main>

    {% block extra_js %}{% endblock %}
</body>
</html>